<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta charset="utf-8"><meta http-equiv="ClearType" content="on"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="Content-Language" content="pt-BR"><meta http-equiv="expires" content="120"><meta http-equiv="Cache-Control" content="no-store"><meta name="description" content=""><meta name="HandheldFriendly" content="True"><meta name="MobileOptimized" content="320"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<table cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td>
      <center>
      <table cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/header_navbar.png" style="display: block;" width="550" /></td>
          </tr>
          <tr>
            <td align="Center" width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/separator.png" style="display: block;" width="520" /></td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="25">&nbsp;</td>
                  <td width="200">
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; text-align: Left; text-transform: uppercase;" width="200">EDI&Ccedil;&Atilde;O <b>30</b></p>
                  </td>
                  <td width="200">
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; text-align: Right; text-transform: uppercase;" width="200">Novembro de 2019</p>
                  </td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/13logistica-01-01_197778_img.png" style="display: block;" width="550" /></td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#FFF" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 28px; font-weight: 600; text-align: Center; text-transform: lowercase;" width="200">especial</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/375-365-sondagem-industrial_241070_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Fiep lan&ccedil;a nova edi&ccedil;&atilde;o da pesquisa Sondagem Industrial</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">O estudo &eacute; um dos principais instrumentos para medir as expectativas do empres&aacute;rio e do setor</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/13/especial/fiep-lanca-nova-edicao-da-pesquisa-sondagem-industrial-2-32029-423434.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/375-365-fiep-promove-seminario-paranaense-de-logistica-reversa_240931_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Fiep promove 3&ordm; Semin&aacute;rio Paranaense de Log&iacute;stica Reversa</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Log&iacute;stica Reversa e Economia Circular ser&aacute; o tema deste ano</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/13/especial/fiep-promove-3-seminario-paranaense-de-logistica-reversa-2-32029-422859.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/375-365-brasil-precisa-investir-em-infraestrutura-para-aumentar-exportacoes_240924_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Brasil precisa investir em infraestrutura para aumentar exporta&ccedil;&otilde;es</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Diagn&oacute;stico foi realizado pela empresa de fomento Serpa China</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/13/especial/brasil-precisa-investir-em-infraestrutura-para-aumentar-exportacoes-2-32029-422852.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/375-365-coleta-de-esgoto-feita-por-empresas-privadas-supera-media-nacional_240921_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Coleta de esgoto feita por empresas privadas supera m&eacute;dia nacional</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">N&uacute;mero chega a 72%, contra 52% da m&eacute;dia nacional</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/13/especial/coleta-de-esgoto-feita-por-empresas-privadas-supera-media-nacional-2-32029-422849.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="20" width="100%">
              <tbody>
                <tr>
                  <td height="20" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 28px; font-weight: 600; text-align: Center; text-transform: lowercase;" width="200">na imprensa</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/valor-online_240937_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Sistemas inteligentes ampliam efici&ecirc;ncia das opera&ccedil;&otilde;es log&iacute;sticas</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Valor Online - SP | 10/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9375545&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/uol_240936_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Queda de Juros no exterior beneficiar&aacute; infraestrutura, diz ministro</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Uol - SP | 09/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9375524&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/o-globo-online_240935_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Infraestrutura ter&aacute; diretrizes ambientais para todas as concess&otilde;es</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">O Globo Online - RJ | 18/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9439134&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/dbimages/sistema-ocepar_240934_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Infraestrutura II: Paran&aacute; e Governo Federal estudam constru&ccedil;&atilde;o de nova Ferrovia</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Sistema Ocepar - PR | 24/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9482645&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="20" width="100%">
                    <tbody>
                      <tr>
                        <td height="20" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
                <tr>
                  <td align="Center"><a href="http://www.fiepr.org.br/boletins-setoriais/13/" target="_blank"><img src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/btn_boletins.png" style="display: block;" width="328" /></a></td>
                </tr>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="20" width="100%">
                    <tbody>
                      <tr>
                        <td height="20" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="20" width="100%">
              <tbody>
                <tr>
                  <td height="20" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#00a3a1" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td width="15"><img height="50" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/barras.png" style="display: block;" /></td>
                  <td width="25">&nbsp;</td>
                  <td width="400">
                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">SISTEMA FEDERA&Ccedil;&Atilde;O DAS IND&Uacute;STRIAS DO ESTADO DO PARAN&Aacute;</p>

                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">AV. C&Acirc;NDIDO DE ABREU, 200, CENTRO C&Iacute;VICO, 80530-902 - CURITIBA PR</p>

                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">0800 648 0088</p>
                  </td>
                  <td width="62"><a href="http://www.sistemafiep.org.br/"><img height="60" src="http://www.fiepr.org.br/boletins-setoriais/13/edicoes/newsletter/191104_32053_1/images/logo_sistema.png" style="display: block;" /></a></td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#00f1d7" cellpadding="0" cellspacing="0" height="5" width="550">
        <tbody>
          <tr>
            <td height="5" width="100%">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      </center>
      </td>
    </tr>
  </tbody>
</table>
