<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta charset="utf-8"><meta http-equiv="ClearType" content="on"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="Content-Language" content="pt-BR"><meta http-equiv="expires" content="120"><meta http-equiv="Cache-Control" content="no-store"><meta name="description" content=""><meta name="HandheldFriendly" content="True"><meta name="MobileOptimized" content="320"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<table cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td>
      <center>
      <table cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/header_navbar.png" style="display: block;" width="550" /></td>
          </tr>
          <tr>
            <td align="Center" width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/separator.png" style="display: block;" width="520" /></td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="25">&nbsp;</td>
                  <td width="200">
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; text-align: Left; text-transform: uppercase;" width="200">EDI&Ccedil;&Atilde;O <b>30</b></p>
                  </td>
                  <td width="200">
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; text-align: Right; text-transform: uppercase;" width="200">Novembro de 2019</p>
                  </td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/6metalmecanico-01-01_197771_img.png" style="display: block;" width="550" /></td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#FFF" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 28px; font-weight: 600; text-align: Center; text-transform: lowercase;" width="200">especial</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/375-365-sondagem-industrial_241045_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Fiep lan&ccedil;a nova edi&ccedil;&atilde;o da pesquisa Sondagem Industrial</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">O estudo &eacute; um dos principais instrumentos para medir as expectativas do empres&aacute;rio e do setor</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/6/especial/fiep-lanca-nova-edicao-da-pesquisa-sondagem-industrial-2-32022-423406.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/375-365-fiep-promove-seminario-paranaense-de-logistica-reversa_240700_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Fiep promove 3&ordm; Semin&aacute;rio Paranaense de Log&iacute;stica Reversa</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Log&iacute;stica Reversa e Economia Circular ser&aacute; o tema deste ano</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/6/especial/fiep-promove-3-seminario-paranaense-de-logistica-reversa-2-32022-422404.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/375-365-parana-tera-de-qualificar-852-mil-trabalhadores-em-profissoes-industriais-ate-2023_240694_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">O Estado do Paran&aacute; ter&aacute; de qualificar 852.046 trabalhadores em ocupa&ccedil;&otilde;es industriais nos n&iacute;veis superior, t&eacute;cnico, quali</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Estudo mostra que as &aacute;reas de energia e metalmec&acirc;nica est&atilde;o entre as que mais v&atilde;o exigir capacita&ccedil;&atilde;o de t&eacute;cnicos no Paran&aacute;</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/6/especial/parana-tera-de-qualificar-852-mil-trabalhadores-em-profissoes-industriais-ate-2023-2-32022-422398.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/375-365-nova-tecnologia-aumenta-resistencia-de-eletronicos-no-espaco_240691_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Nova tecnologia aumenta resist&ecirc;ncia de eletr&ocirc;nicos no espa&ccedil;o</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Equipe da NASA est&aacute; realizando uma s&eacute;rie de testes com transistores a v&aacute;cuo em nanoescala</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/6/especial/nova-tecnologia-aumenta-resistencia-de-eletronicos-no-espaco-2-32022-422395.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="20" width="100%">
              <tbody>
                <tr>
                  <td height="20" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 28px; font-weight: 600; text-align: Center; text-transform: lowercase;" width="200">na imprensa</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/o-petroleo_240706_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Demanda global de coque metal&uacute;rgico diminui &agrave; medida que a demanda de a&ccedil;o cai</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">O Petr&oacute;leo - BR | 07/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9356352&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/estadao_240705_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">5G: tudo o que se sabe sobre a pr&oacute;xima tecnologia de conex&atilde;o m&oacute;vel</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Estad&atilde;o.com.br - SP | 10/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9374870&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/valor-online_240704_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Fabricantes se preparam para reciclar produtos eletr&ocirc;nicos</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Valor Online - SP | 16/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9420844&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/dbimages/mecanica-online_240703_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Impress&atilde;o 3D da Stratasys auxilia fabricante de motores e geradores MWM a cortar custos e prazos</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Mec&acirc;nica Online - PE | 20/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9455986&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="20" width="100%">
                    <tbody>
                      <tr>
                        <td height="20" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
                <tr>
                  <td align="Center"><a href="http://www.fiepr.org.br/boletins-setoriais/6/" target="_blank"><img src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/btn_boletins.png" style="display: block;" width="328" /></a></td>
                </tr>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="20" width="100%">
                    <tbody>
                      <tr>
                        <td height="20" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="20" width="100%">
              <tbody>
                <tr>
                  <td height="20" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#00a3a1" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td width="15"><img height="50" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/barras.png" style="display: block;" /></td>
                  <td width="25">&nbsp;</td>
                  <td width="400">
                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">SISTEMA FEDERA&Ccedil;&Atilde;O DAS IND&Uacute;STRIAS DO ESTADO DO PARAN&Aacute;</p>

                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">AV. C&Acirc;NDIDO DE ABREU, 200, CENTRO C&Iacute;VICO, 80530-902 - CURITIBA PR</p>

                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">0800 648 0088</p>
                  </td>
                  <td width="62"><a href="http://www.sistemafiep.org.br/"><img height="60" src="http://www.fiepr.org.br/boletins-setoriais/6/edicoes/newsletter/191104_32046_1/images/logo_sistema.png" style="display: block;" /></a></td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#00f1d7" cellpadding="0" cellspacing="0" height="5" width="550">
        <tbody>
          <tr>
            <td height="5" width="100%">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      </center>
      </td>
    </tr>
  </tbody>
</table>
