<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta charset="utf-8"><meta http-equiv="ClearType" content="on"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="Content-Language" content="pt-BR"><meta http-equiv="expires" content="120"><meta http-equiv="Cache-Control" content="no-store"><meta name="description" content=""><meta name="HandheldFriendly" content="True"><meta name="MobileOptimized" content="320"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<table cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td>
      <center>
      <table cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/header_navbar.png" style="display: block;" width="550" /></td>
          </tr>
          <tr>
            <td align="Center" width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/separator.png" style="display: block;" width="520" /></td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td width="25">&nbsp;</td>
                  <td width="200">
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; text-align: Left; text-transform: uppercase;" width="200">EDI&Ccedil;&Atilde;O <b>30</b></p>
                  </td>
                  <td width="200">
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; text-align: Right; text-transform: uppercase;" width="200">Novembro de 2019</p>
                  </td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550"><img src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/5vestuario-01-01_197770_img.png" style="display: block;" width="550" /></td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#FFF" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 28px; font-weight: 600; text-align: Center; text-transform: lowercase;" width="200">especial</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/375-365-sondagem-industrial_241051_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Fiep lan&ccedil;a nova edi&ccedil;&atilde;o da pesquisa Sondagem Industrial</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">O estudo &eacute; um dos principais instrumentos para medir as expectativas do empres&aacute;rio e do setor</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/5/especial/fiep-lanca-nova-edicao-da-pesquisa-sondagem-industrial-2-32021-423412.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/375-365-fiep-promove-seminario-paranaense-de-logistica-reversa_240751_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Fiep promove 3&ordm; Semin&aacute;rio Paranaense de Log&iacute;stica Reversa</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Log&iacute;stica Reversa e Economia Circular ser&aacute; o tema deste ano</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/5/especial/fiep-promove-3-seminario-paranaense-de-logistica-reversa-2-32021-422488.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/375-365-industria-da-moda-tenta-limitar-danos-ambientais_240745_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Ind&uacute;stria da moda tenta limitar danos ambientais</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Algumas marcas est&atilde;o apostando no corte de desperd&iacute;cios e na sustentabilidade</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/5/especial/industria-da-moda-tenta-limitar-danos-ambientais-2-32021-422482.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/375-365-japao_240742_mini.jpg" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Jap&atilde;o fabricar&aacute; roupas a partir de garrafas de pl&aacute;stico recicladas</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Al&eacute;m de revolucionar a ind&uacute;stria t&ecirc;xtil, a iniciativa ajuda a reduzir lixo pl&aacute;stico</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.fiepr.org.br/boletins-setoriais/5/especial/japao-fabricara-roupas-a-partir-de-garrafas-de-plastico-recicladas-2-32021-422479.shtml" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="20" width="100%">
              <tbody>
                <tr>
                  <td height="20" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 28px; font-weight: 600; text-align: Center; text-transform: lowercase;" width="200">na imprensa</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/correio-braziliense_240756_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Controle remoto vest&iacute;vel: sensores d&atilde;o origem a tecido eletr&ocirc;nico lav&aacute;vel</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Correio Braziliense - DF | 07/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9356319&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/jornal-do-comercio-do-ceara_240755_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Cal&ccedil;ados de couro e sustent&aacute;veis ganham prefer&ecirc;ncia entre os brasileiros, aponta estudo do IEMI</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Jornal do Com&eacute;rcio do Cear&aacute; - CE | 05/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9450382&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/exame-com_240754_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Os n&uacute;meros da Amaro, startup que leva roupas ao seu smartphone</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Exame.com - SP | 20/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9456050&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" width="450">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="Center" cellpadding="0" cellspacing="0" width="450">
                    <tbody>
                      <tr>
                        <td width="15">&nbsp;</td>
                        <td width="175"><img height="180" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/dbimages/assintecal_240753_mini.png" style="display: block;" width="175" /></td>
                        <td width="15">&nbsp;</td>
                        <td width="230">
                        <table cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #02b6a3; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 16px; font-weight: 600; text-align: Left;" width="230">Brasil tem potencial oculto no setor t&ecirc;xtil, diz especialista</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="10" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="10" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <p style="padding: 0; margin: 0; color: #464646; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 12px; font-weight: 400; text-align: Left;" width="230">Assintecal - BR | 23/10/2019</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              <table cellpadding="0" cellspacing="0" height="15" width="100%">
                                <tbody>
                                  <tr>
                                    <td height="15" width="100%">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="http://www.superacessoinfo.com.br/supervisualizador/visualizador.aspx?idanalisesubcanal=9474214&amp;idemail=4828&amp;idempresa=509" target="_blank"><img height="28" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_alpha.png" style="display: block;" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td width="15">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>

                  <table cellpadding="0" cellspacing="0" height="15" width="100%">
                    <tbody>
                      <tr>
                        <td height="15" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="10" width="100%">
              <tbody>
                <tr>
                  <td height="10" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="20" width="100%">
                    <tbody>
                      <tr>
                        <td height="20" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
                <tr>
                  <td align="Center"><a href="http://www.fiepr.org.br/boletins-setoriais/5/" target="_blank"><img src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/btn_boletins.png" style="display: block;" width="328" /></a></td>
                </tr>
                <tr>
                  <td>
                  <table cellpadding="0" cellspacing="0" height="20" width="100%">
                    <tbody>
                      <tr>
                        <td height="20" width="100%">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table cellpadding="0" cellspacing="0" height="20" width="100%">
              <tbody>
                <tr>
                  <td height="20" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#00a3a1" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td width="15"><img height="50" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/barras.png" style="display: block;" /></td>
                  <td width="25">&nbsp;</td>
                  <td width="400">
                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">SISTEMA FEDERA&Ccedil;&Atilde;O DAS IND&Uacute;STRIAS DO ESTADO DO PARAN&Aacute;</p>

                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">AV. C&Acirc;NDIDO DE ABREU, 200, CENTRO C&Iacute;VICO, 80530-902 - CURITIBA PR</p>

                  <p style="padding: 0; margin: 0; color: #FAFAFA; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 11px; font-weight: 400; text-align: Left; text-transform: uppercase;" width="400">0800 648 0088</p>
                  </td>
                  <td width="62"><a href="http://www.sistemafiep.org.br/"><img height="60" src="http://www.fiepr.org.br/boletins-setoriais/5/edicoes/newsletter/191104_32045_1/images/logo_sistema.png" style="display: block;" /></a></td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="550">
            <table cellpadding="0" cellspacing="0" height="25" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table bgcolor="#00f1d7" cellpadding="0" cellspacing="0" height="5" width="550">
        <tbody>
          <tr>
            <td height="5" width="100%">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      </center>
      </td>
    </tr>
  </tbody>
</table>
