<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="visible" style="mso-hide: none !important; width:550px">
	<tbody>
		<tr>
			<td><img alt="Integra Avisa | Nossa Gente | Sistema Fiep" src="http://www.sistemaFiep.org.br/emailmkt/2017/05_sistema/ARQ_AF/nossa-gente/topo.jpg" width="600" style="display:block; width: 600px;" title="Integra Avisa | Nossa Gente | Sistema Fiep" /></td>
		</tr>
		<tr>
			<td height="30">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" class="visible" style="mso-hide: none !important; width: 600px;">
				<tbody>
					<tr>
						<td width="50">&nbsp;</td>
						<td width="450">
						<p style="font-family:'Arial',sans-serif"><strong style="color:#f8a539; font-size:18px">Cronograma de Fechamento do Ano para o Sistema Fiep</strong></p>
						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px">Para nos planejarmos em relação aos prazos de fechamento de 2019, e para cumprirmos adequadamente os prazos estipulados, já temos o cronograma de fechamento de cada área.</p>
						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px">Confira abaixo e programe-se:</p>
<table border="1" cellpadding="0" cellspacing="0" style="border-color: #f0f0f0;">
	<tbody>
		<tr>
			<td valign="center" align="Center" width="15.873015873015873%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;"><strong>&Aacute;rea</strong></p>
			</td>
			<td valign="center" align="Center" width="24.16225749559083%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;"><strong>Data-limite</strong></p>
			</td>
			<td valign="center" align="Center" width="59.9647266313933%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;"><strong>Atividade</strong></p>
			</td>
		</tr>
		<tr>
			<td rowspan="3" valign="top" width="15.873015873015873%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Contabilidade</p>
			</td>
			<td valign="center" width="24.16225749559083%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">17/12/19</p>
			</td>
			<td valign="center" width="59.9647266313933%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Recebimento e tramita&ccedil;&atilde;o de notas fiscais no ERP;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">20/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Abertura de chamado para confer&ecirc;ncia de Presta&ccedil;&atilde;o de Contas de Projetos e Conv&ecirc;nios;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">07/01/20</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Abertura de chamados para reclassifica&ccedil;&atilde;o or&ccedil;ament&aacute;ria de receitas e/ou despesas de 2019;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="3" valign="top" width="15.873015873015873%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Financeiro</p>
			</td>
			<td valign="center" width="24.16225749559083%"  align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">16/12/19</p>
			</td>
			<td valign="center" width="59.9647266313933%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Inclus&atilde;o no di&aacute;rio de fatura (ERP) dos documentos n&atilde;o tramitados na &aacute;rea de Compras;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">19/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">&Uacute;ltima data de pagamento para fornecedores;&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">20/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Faturamento e emiss&atilde;o de notas fiscais para clientes;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" valign="top" width="15.873015873015873%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Compras e Suprimentos</p>
			</td>
			<td valign="center" width="24.16225749559083%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">20/12</p>
			</td>
			<td valign="center" width="59.9647266313933%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Recebimento de materiais atendidos via centro de distribui&ccedil;&atilde;o;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">N&atilde;o haver&aacute; data de corte para cria&ccedil;&atilde;o de requisi&ccedil;&atilde;o</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Requisi&ccedil;&otilde;es de compras emitidas a partir de 16/12/19, ser&atilde;o programadas para recebimento a partir de 06/01/20, por isso, as notas fiscais dever&atilde;o ser emitidas a partir desta data;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="14" valign="top" width="15.873015873015873%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Recursos Humanos</p>
			</td>
			<td width="24.16225749559083%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">06/11 a 06/12/19</p>
			</td>
			<td valign="center" width="59.9647266313933%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Execu&ccedil;&atilde;o de todos os treinamentos aprovados para as ger&ecirc;ncias executivas (LNT &ndash; Levantamento das Necessidades de Treinamento);</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">20/11/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Movimenta&ccedil;&otilde;es para o m&ecirc;s de dezembro aprovadas at&eacute; o n&iacute;vel de gest&atilde;o;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">29/11/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Pagamento da 1&ordf; parcela do 13&ordm; sal&aacute;rio;</p>
			</td>
		</tr>
		<tr>
			<td width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">At&eacute; 29/11/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Envio das STD (Solicita&ccedil;&atilde;o de Treinamento) planejadas na LNT 2019;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">At&eacute; 16/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Movimenta&ccedil;&otilde;es para o m&ecirc;s de janeiro aprovadas at&eacute; o n&iacute;vel de gest&atilde;o;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">16/12/19&nbsp;</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">&Uacute;ltimo dia de solicita&ccedil;&atilde;o de pagamentos de Aut&ocirc;nomos (RPA);</p>
			</td>
		</tr>
		<tr>
			<td width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">20/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Pagamento da 2&ordf; parcela do 13&ordm; sal&aacute;rio;</p>
			</td>
		</tr>
		<tr>
			<td width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">21/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Contrata&ccedil;&atilde;o de aut&ocirc;nomos RPA ref. dez/19;</p>
			</td>
		</tr>
		<tr>
			<td width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">23/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Pagamento do sal&aacute;rio de dezembro;</p>
			</td>
		</tr>
		<tr>
			<td width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">23/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Pagamento do cr&eacute;dito VA/VR referente ao m&ecirc;s de dezembro;</p>
			</td>
		</tr>
		<tr>
			<td width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">23/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Pagamento folha de Aut&ocirc;nomos RPAs;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">24/12 e 31/12/19</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Por liberalidade da empresa, os colaboradores ser&atilde;o dispensados o dia todo;</p>
			</td>
		</tr>
		<tr>
			<td width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">26/12/19 a 24/01/20</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">F&eacute;rias coletivas (professor (Sesi, IEL e Senai &ndash; Faculdades da Ind&uacute;stria) com dura&ccedil;&atilde;o de 30 dias;</p>
			</td>
		</tr>
		<tr>
			<td valign="center" width="28.72117400419287%" align="Center">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">At&eacute; 28/02/20</p>
			</td>
			<td valign="center" width="71.27882599580713%">

				<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px; padding: 5px;">Compensa&ccedil;&otilde;es do banco de horas aos colaboradores eleg&iacute;veis.</p>
			</td>
		</tr>
	</tbody>
</table>

						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px"><b>Banco de horas:</b> dia 28/02/20 encerra-se o período de apuração do banco de horas relativo ao período 2019-2020, por isso, se você possui banco de horas positivo ou negativo, programe com seu gestor um plano de compensação para zerar seu saldo até 28/02/20. </p>
						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px">Nos dias <b>24/12 e 31/12</b>, por liberalidade da empresa, os colaboradores serão dispensados das suas atividades laborais.</p>
						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px">Para mais informações, entre em contato com a Central de Atendimento, pelo ramal 9400.</p>
						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px"><b>Gerência Executiva de Desenvolvimento, Suprimentos e Engenharia</b><br><b>Gerência Executiva de Serviços Corporativos</b></p>
						</td>
						<td width="50">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td height="30">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<table bgcolor="#f8a539" border="0" cellpadding="0" cellspacing="0" class="visible" style="mso-hide: none !important; height:32px; width: 600px;">
				<tbody>
					<tr>
						<td width="50">&nbsp;</td>
						<td width="470"><strong style="color:#ffffff; font-family:'Arial',sans-serif; font-size:13px">E-mail enviado para todos os colaboradores.</strong></td>
						<td width="30">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#105368"><img alt="Sistema Fiep. I de indústria. I de integração" src="http://www.sistemaFiep.org.br/emailmkt/2017/05_sistema/ARQ_AF/nossa-gente/rodape2018.png" width="600" style="display:block; width: 600px;" title="Sistema Fiep. I de indústria. I de integração" /></td>
		</tr>
	</tbody>
</table>
