<meta charset="utf-8">
<title></title>
<table align="center" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td><a href="https://sistemafiep.sharepoint.com/sites/integra/noticia.aspx?id=470"><img alt="Convite pessoal e intransferível" src="http://www.sistemafiep.org.br/emailmkt/2019/01_fiep/posse-pos/img/01.jpg" style="display: block" /> </a></td>
    </tr>
  </tbody>
</table>
