<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">body { background-color: #efefef; }
		.bg { background-color: #efefef; }
		body.bg { background-color: #efefef; }
		table { mso-hide: all; }
		table.visible { mso-hide: none;  }
</style>
<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="visible" style="mso-hide: none !important; width:550px">
	<tbody>
		<tr>
			<td><img alt="Integra Avisa | Nossa Gente | Sistema FIEP" src="http://www.sistemafiep.org.br/emailmkt/2017/05_sistema/ARQ_AF/nossa-gente/topo.jpg" width="600" style="display:block; width: 600px;" title="Integra Avisa | Nossa Gente | Sistema FIEP" /></td>
		</tr>
		<tr>
			<td height="30">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" class="visible" style="mso-hide: none !important; width: 600px;">
				<tbody>
					<tr>
						<td width="50">&nbsp;</td>
						<td width="450">
						<p style="font-family:'Arial',sans-serif"><strong style="color:#f8a539; font-size:18px">Comunicado do presidente</strong></p>

						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px">O foco desta gestão do Sistema Fiep é a sustentabilidade e a valorização de todo o quadro de colaboradores para, dessa forma, fortalecer o compromisso com a indústria e a parceria com as entidades sindicais patronais. Além de liderar o Sistema Fiep, o presidente Carlos Valter passa também a assumir cumulativamente a direção da área corporativa. Com isso, temos a saída do Sr. Irineu Roveda Junior do cargo de Superintendente Corporativo a quem agradecemos pelos serviços prestados.</p>
						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px">Comunicamos ainda que o presidente do Sistema Fiep, Carlos Valter, também estará à frente da gerência de Relações Sindicais e Cida Lopes assumirá novas designações dentro da instituição. Já a área de negócios permanecerá com a direção de José Antonio Fares, como Superintendente do Sesi e do IEL no Paraná e Diretor Regional do Senai.</p>
						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px">Reforçamos que mudanças dentro da estrutura organizacional são movimentos naturais em entidades como o Sistema Fiep. Por isso, o trabalho diário das mais diversas áreas da nossa instituição não devem ser afetadas, seguindo as metas e projetos já definidos.</p>
						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px">Contamos com todos os colaboradores para junto com o presidente Carlos Valter levar a frente está construção que agora se inicia.</p>

						<p style="color:gray; font-family:'Arial',sans-serif; font-size:13px"><b>Recursos Humanos</b><br><b>Gerência Executiva de Desenvolvimento, Suprimentos e Engenharia</b></p>
						</td>
						<td width="50">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td height="30">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<table bgcolor="#f8a539" border="0" cellpadding="0" cellspacing="0" class="visible" style="mso-hide: none !important; height:32px; width: 600px;">
				<tbody>
					<tr>
						<td width="50">&nbsp;</td>
						<td width="470"><strong style="color:#ffffff; font-family:'Arial',sans-serif; font-size:13px">E-mail enviado para todos os colaboradores.</strong></td>
						<td width="30">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#105368"><img alt="Sistema FIEP. I de indústria. I de integração" src="http://www.sistemafiep.org.br/emailmkt/2017/05_sistema/ARQ_AF/nossa-gente/rodape2018.png" width="600" style="display:block; width: 600px;" title="Sistema FIEP. I de indústria. I de integração" /></td>
		</tr>
	</tbody>
</table>
