<title></title>
<table cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td>
      <center>
      <table cellpadding="0" cellspacing="0" width="550">
        <tbody><!-- Header -->
        </tbody>
      </table>

      <table bgcolor="#053657" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td width="397"><img height="210" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/img_header_one.jpg" style="display: block;" width="397" /></td>
            <td width="153">
            <table align="Center" bgcolor="#01192b" cellpadding="0" cellspacing="0" width="153">
              <tbody>
                <tr>
                  <td width="100%"><img height="103" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/img_header_two.jpg" style="display: block;" width="153" /></td>
                </tr>
                <tr>
                  <td height="38" width="100%">
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td height="100%" width="15">
                        <table cellpadding="0" cellspacing="0" width="15">
                          <tbody>
                            <tr>
                              <td height="100%" style="text-align: center;" width="15"> </td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                        <td height="100%" width="138">
                        <p ms="" style="padding: 0px; margin: 0px; color: rgb(255, 255, 255); font-family: " trebuchet="">25 de outubro a<br />
                        01 de novembro</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
                <tr>
                  <td width="100%"><img height="69" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/img_header_three.jpg" style="display: block;" width="153" /></td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
      </center>
      </td>
    </tr>
    <tr align="Center">
      <td width="550"><img height="42" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/img_section_one.jpg" style="display: block;" width="550" /></td>
    </tr>
    <!-- Content -->
    <tr>
      <td>
      <table align="Center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td>
            <table align="Center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="550">
              <tbody>
                <tr>
                  <td height="10" width="550"> </td>
                </tr>
              </tbody>
            </table>

            <table align="Center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="550">
              <tbody>
                <tr>
                  <td height="100%" width="10"> </td>
                  <td valign="Top" width="155"><img alt="" height="87" src="https://agenciafiep.com.br/wp-content/uploads/2019/10/WhatsApp-Image-2019-10-28-at-22.17.38-1.jpeg" style="width: 155px; height: 87px;" width="155" /></td>
                  <td height="100%" width="30"> </td>
                  <td width="345">
                  <p style="padding: 0; margin: 0; color: #1f4662; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 18px; font-weight: 400; line-height: 24px;"><strong>Posse do presidente do Sistema Fiep, novos modais e mais pedágios</strong></p>

                  <p><span style="font-weight: 400; font-size: 11pt;"><span style="font-family:Calibri,sans-serif">A posse do presidente do Sistema Fiep, Carlos Valter Martins Pedro, na última segunda-feira, foi o principal destaque da semana, com reportagens na rádio CBN Maringá (<a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35371&codmateria=62019710&pos=21">ouça aqui</a>), CBN Curitiba (<a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35371&codmateria=62022785&pos=20">aqui</a>), no Bom dia Paraná, da RPC (<a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35371&codmateria=62032111&pos=0">veja aqui</a>), no Paraná no Ar, da RIC TV (<a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35371&codmateria=62032872&pos=1">aqui</a>), no Band Cidade, da TV Band (<a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35401&codmateria=62040362&pos=0">aqui</a>), e na Tribuna da Massa, da Rede Massa, do SBT (e <a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35401&codmateria=62039675&pos=2">aqui</a>).</span></span></p>

                  <p><span style="font-weight: 400; font-size: 11pt;"><span style="font-family:Calibri,sans-serif">O coordenador de Infraestrutura da Fiep, João Arthur Mohr, também participou de reportagem do jornal <a href="https://www.folhadelondrina.com.br/economia/solucoes-passam-por-investimentos-em-novos-modais-e-mais-pedagios-diz-gerente-da-fiep-2970592e.html">Folha de Londrina</a> sobre investimentos em novos modais e sobre os pedágios do Paraná.</span></span></p>
                  </td>
                  <td height="100%" width="10"> </td>
                </tr>
              </tbody>
            </table>

            <table align="Center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="500">
              <tbody>
                <tr>
                  <td height="25" width="500"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <!-- Stats -->
    <tr align="Center">
      <td>
      <table bgcolor="#e2e2e2" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td height="25" width="100%">
            <table cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table bgcolor="#e2e2e2" cellpadding="0" cellspacing="0" width="550">
              <tbody>
                <tr>
                  <td width="50">
                  <table cellpadding="0" cellspacing="0" width="50">
                    <tbody>
                      <tr>
                        <td height="100%" width="50"> </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="140">
                  <p style="padding: 0; margin: 0; color: #3f3f3f; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;"><strong>Total da semana:</strong></p>
                  </td>
                  <td width="75">
                  <table bgcolor="#3f3f3f" cellpadding="0" cellspacing="0" height="35" width="65">
                    <tbody>
                      <tr align="Center" height="35" valign="Center">
                        <td height="100%"><img height="24" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_tv.png" style="margin-top: 3px;" /></td>
                        <td height="100%">
                        <p style="padding: 0; padding-right: 5px; margin: 0; color: #FFFFFF; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400;">06</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="75">
                  <table bgcolor="#3f3f3f" cellpadding="0" cellspacing="0" height="35" width="65">
                    <tbody>
                      <tr align="Center" height="35" valign="Center">
                        <td height="100%"><img height="24" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_radio.png" style="margin-top: 3px;" /></td>
                        <td height="100%">
                        <p style="padding: 0; padding-right: 5px; margin: 0; color: #FFFFFF; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400;">23</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="75">
                  <table bgcolor="#3f3f3f" cellpadding="0" cellspacing="0" height="35" width="65">
                    <tbody>
                      <tr align="Center" height="35" valign="Center">
                        <td height="100%"><img height="24" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_mouse.png" style="margin-top: 3px;" /></td>
                        <td height="100%">
                        <p style="padding: 0; padding-right: 5px; margin: 0; color: #FFFFFF; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400;">41</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="75">
                  <table bgcolor="#3f3f3f" cellpadding="0" cellspacing="0" height="35" width="65">
                    <tbody>
                      <tr align="Center" height="35" valign="Center">
                        <td height="100%"><img height="24" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_news.png" style="margin-top: 3px;" /></td>
                        <td height="100%">
                        <p style="padding: 0; padding-right: 5px; margin: 0; color: #FFFFFF; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400;">68</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="60">
                  <table cellpadding="0" cellspacing="0" width="60">
                    <tbody>
                      <tr>
                        <td height="100%" width="60"> </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td height="25" width="100%">
            <table cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr align="Center">
      <td width="550"><img height="42" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/img_section_two.jpg" style="display: block;" width="550" /></td>
    </tr>
    <!-- Content -->
    <tr>
      <td>
      <table align="Center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td>
            <table align="Center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="550">
              <tbody>
                <tr>
                  <td height="10" width="550"> </td>
                </tr>
              </tbody>
            </table>

            <table align="Center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="550">
              <tbody>
                <tr>
                  <td height="100%" width="10"> </td>
                  <td valign="Top" width="155"><img alt="" height="87" src="https://s3.amazonaws.com/bucket-gw-cni-static-cms-si/portaldaindustria/noticias/media/imagem_plugin/annewscreditosfotogelsonbampi.jpg" style="width: 155px; height: 87px;" width="155" /></td>
                  <td height="100%" width="30"> </td>
                  <td width="345">
                  <p style="padding: 0; margin: 0; color: #1f4662; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 18px; font-weight: 400; line-height: 24px;"><strong>Profissões do futuro, case madalhista WorldSkills, Mundo Senai, Grand Prix de Inovação e mudanças nas NRs</strong></p>

                  <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Nesta semana o <a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35371&codmateria=62022789&pos=40">Bom Dia Sábado</a>, da RPC, fez uma grande reportagem abordando as tecnologias e as profissões do futuro, mencionando a metodologia do Colégio Sesi. Ainda com este foco, foi destaque no <a href="https://noticias.portaldaindustria.com.br/noticias/educacao/de-olho-no-mercado-de-arte-digital-para-games/">portal CNI</a> o case da Anne Louise Calamucci, formada em TI no Senai no Paraná e vencedora da etapa regional da WorldSkills. Ela foi contratada pela Bosch.</span></span></p>

                  <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ainda falando em Educação, tivemos uma entrevista sobre o Mundo Senai na <a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35371&codmateria=62022781&pos=44">Rádio Difusora</a> e sobre o Grand Prix de Inovação ofertado pelas Faculdades da Indústria na <a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35434&codmateria=62061857&pos=16">Rádio Cultura</a>. </span></span></p>

                  <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Já na <a href="http://services.midiaexpert.com.br/VisualizadorConteudo/indexv2.asp?id=35401&codmateria=62035519&pos=66">Rádio Mundo Livre</a>, o tema da entrevista foi as unidades móveis do Cuide-se +. Com o tema segurança e saúde, tivemos ainda a publicação de matérias no <a href="https://www.diariodoscampos.com.br/noticia/seguranca-e-saude-no-trabalho-mudancas-nas-nrs-e-o-impacto-nas-industrias">Diário dos Campos</a> e <a href="https://jornalintegracao.com/noticias/seguranca-e-saude-no-trabalho-mudancas-nas-nrs-e-o-impacto-nas-industrias">Jornal Integração</a> sobre as mudanças das NRs e o apoio do Sesi dado às indústrias.</span></span></p>
                  </td>
                  <td height="100%" width="10"> </td>
                </tr>
              </tbody>
            </table>

            <table align="Center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="500">
              <tbody>
                <tr>
                  <td height="25" width="500"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <!-- Stats -->
    <tr align="Center">
      <td>
      <table bgcolor="#e2e2e2" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td height="25" width="100%">
            <table cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table bgcolor="#e2e2e2" cellpadding="0" cellspacing="0" width="550">
              <tbody>
                <tr>
                  <td width="50">
                  <table cellpadding="0" cellspacing="0" width="50">
                    <tbody>
                      <tr>
                        <td height="100%" width="50"> </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="140">
                  <p style="padding: 0; margin: 0; color: #3f3f3f; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;"><strong>Total da semana:</strong></p>
                  </td>
                  <td width="75">
                  <table bgcolor="#3f3f3f" cellpadding="0" cellspacing="0" height="35" width="65">
                    <tbody>
                      <tr align="Center" height="35" valign="Center">
                        <td height="100%"><img height="24" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_tv.png" style="margin-top: 3px;" /></td>
                        <td height="100%">
                        <p style="padding: 0; padding-right: 5px; margin: 0; color: #FFFFFF; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400;">03</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="75">
                  <table bgcolor="#3f3f3f" cellpadding="0" cellspacing="0" height="35" width="65">
                    <tbody>
                      <tr align="Center" height="35" valign="Center">
                        <td height="100%"><img height="24" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_radio.png" style="margin-top: 3px;" /></td>
                        <td height="100%">
                        <p style="padding: 0; padding-right: 5px; margin: 0; color: #FFFFFF; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400;">12</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="75">
                  <table bgcolor="#3f3f3f" cellpadding="0" cellspacing="0" height="35" width="65">
                    <tbody>
                      <tr align="Center" height="35" valign="Center">
                        <td height="100%"><img height="24" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_mouse.png" style="margin-top: 3px;" /></td>
                        <td height="100%">
                        <p style="padding: 0; padding-right: 5px; margin: 0; color: #FFFFFF; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400;">21</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="75">
                  <table bgcolor="#3f3f3f" cellpadding="0" cellspacing="0" height="35" width="65">
                    <tbody>
                      <tr align="Center" height="35" valign="Center">
                        <td height="100%"><img height="24" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_news.png" style="margin-top: 3px;" /></td>
                        <td height="100%">
                        <p style="padding: 0; padding-right: 5px; margin: 0; color: #FFFFFF; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400;">14</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="60">
                  <table cellpadding="0" cellspacing="0" width="60">
                    <tbody>
                      <tr>
                        <td height="100%" width="60"> </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td height="25" width="100%">
            <table cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td height="25" width="100%"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <!-- Footer -->
    <tr>
      <td>
      <table align="Center" bgcolor="#054677" cellpadding="0" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td height="5" width="100%">
            <table cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td height="5" width="100%"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr align="Center">
            <td>
            <p style="padding: 0; padding-top: 10px; margin: 0; color: #FFFFFF; font-family: 'Trebuchet MS', 'Arial', sans-serif; font-size: 13px; font-weight: 400; line-height: 24px; text-align: center;"><strong>Acompanhe também o que estamos trabalhando nas redes sociais:</strong></p>
            </td>
          </tr>
          <tr>
            <td height="5" width="100%">
            <table cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td height="5" width="100%"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr align="Center">
            <td>
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td width="40"><a href="http://facebook.com/fiepr"><img alt="Facebook" height="30" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_facebook.png" width="30" /></a></td>
                  <td width="40"><a href="https://www.instagram.com/fiepr"><img alt="Instagram" height="30" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_instagram.png" width="30" /></a></td>
                  <td width="40"><a href="https://twitter.com/fiepr"><img alt="Twitter" height="30" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_twitter.png" width="30" /></a></td>
                  <td width="30"><a href="http://linkedin.com/company/fiep/"><img alt="LinkedIn" height="30" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/ic_linkedin.png" width="30" /></a></td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table align="Center" cellpadding="0" cellspacing="0" width="500">
              <tbody>
                <tr>
                  <td height="10" width="500"> </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr align="Center">
      <td width="550"><img height="119" src="http://www.fiepr.org.br/emailmkt/2018/01_fiep/saiu-na-imprensa/img/img_footer.jpg" style="display: block;" width="550" /></td>
    </tr>
  </tbody>
</table>
