<meta charset="utf-8">
<title></title>
<table align="center" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td><img alt="3o Seminário Paranaense de Logística Reversa" src="http://www.sistemafiep.org.br/emailmkt/2019/05_sistema/confirmacao-logistica-reversa/img/01.png" style="display: block" /></td>
    </tr>
  </tbody>
</table>

<table align="center" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td><img alt=" Sua inscrição está confirmada!" src="http://www.sistemafiep.org.br/emailmkt/2019/05_sistema/confirmacao-logistica-reversa/img/02.png" style="display: block" /></td>
    </tr>
  </tbody>
</table>

<table align="center" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td><img alt="Programação Manhã: 8h30- Credenciamento e café; 9h00- Abertura; 9h40- Economia Circular e a Indústria do Futuro; 10h40- Intervalo; 11h10- Rota Estratégica da Economia Circular do Paraná; 11h50- O Acordo Setorial de Eletroeletrônicos e na Implementação da Logística Reversa na Prática; 12h30- Almoço." src="http://www.sistemafiep.org.br/emailmkt/2019/05_sistema/confirmacao-logistica-reversa/img/03.png" style="display: block" /></td>
    </tr>
  </tbody>
</table>

<table align="center" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td><img alt=" Programação Tarde: 13h50- Economia Circular e os Contornos da Legislação Brasileira; 14h30- Logística Reversa de Embalagens em Geral e a Economia Circular; 15h10- Intervalo; 15h40- Logística Reversa e Economia Circular: Sistema Campo Limpo; 16h20- Na Era da Economia Circular: Oportunidades e Desafios para o Setor de Baterias Chumbo-Ácido; 17h00- Encerramento." src="http://www.sistemafiep.org.br/emailmkt/2019/05_sistema/confirmacao-logistica-reversa/img/04.png" style="display: block" /></td>
    </tr>
  </tbody>
</table>

<table align="center" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td><img alt="Patrocício: Kubitz e Sesi. Correalização: InPAR. Realização: Fiep." src="http://www.sistemafiep.org.br/emailmkt/2019/05_sistema/confirmacao-logistica-reversa/img/05.png" style="display: block" /></td>
    </tr>
  </tbody>
</table>
