/*
* Buttons
*
*/

.btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	border: none;
	transition: all 160ms ease-in;
	-webkit-transition: all 160ms ease-in;
}

.btn:hover {
	text-decoration: none;
}

/**
 * Sizes
 * 
 */

.btn.btn-small {
	padding: 5px 10px 5px 10px;
}

.btn.btn-medium {
	padding: 10px 18px 10px 18px;
}

.btn.btn-wide {
	padding: 10px 25px 10px 25px;
}

.btn-alpha {
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	font-size: 14px;
}

.btn-alpha:hover {
	color: #000;
	background-color: #fff;
}

.btn.btn-beta {
	padding: 5px 15px;
	color: #fff;
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #fff;
	text-transform: none;
}

.btn.btn-beta:hover {
	color: #000;
	background-color: #fff;
}

.btn.btn-beta.btn-black {
	color: #000;
	border-color: #000;
}

.btn.btn-beta.btn-black:hover {
	color: #fff;
	background-color: #000;
}

.btn.btn-beta::after {
	display: none;
	content: '';
	position: absolute;
	margin: auto;
	right: 0;
	bottom: -5px;
	width: 6px;
	height: 6px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}

.btn.btn-gamma {
	color: #464646;
	font-size: 14px;
	border: 1px solid #464646;
	z-index: 1;
}

.btn.btn-gamma::before {
	background-color: #464646;
}

.btn.btn-gamma:hover {
	color: #fff;
}

.btn.btn-gamma.stpd-green:hover {
	background-color: #008000;
	border-color: #006400;
}

.btn.btn-delta {
	color: #464646;
	font-weight: 700;
}

.btn.btn-unidade {
	padding: 6px 15px;
	background-color: #0078b4;
	border-radius: 4px;
	border: 1px solid #0069ab;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.btn.btn-unidade:hover {
	background-color: #0069ab;
}

.unidade.casa-da-industria .btn.btn-unidade {
	background-color: rgba(00, 142, 132, 1.0);
	border-color: rgba(00, 142, 132, 1.0);;
}

.unidade.casa-da-industria .btn.btn-unidade:hover {
	background-color: rgba(00, 142, 132, 1.0);
}


