.hero {
  display: block;
  position: relative;
  width: 100%;
  height: calc(100vh - 110px);
}

.hero-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 75% 75%;
}

.hero-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.hero-content {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-title {
  margin: 0 25px;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 1023px) {
  .hero {
    height: calc(100vh - 110px - 40px);
    margin-top: 40px;
  }

  .hero-overlay {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .hero-content-wrapper {
    width: 1024px;
    margin: 0 auto;
  }

  .hero-title {
    position: absolute;
    top: 20%;
    left: 8%;
    max-width: 425px;
    font-size: 38px;
  }
}