/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: transform 160ms ease;
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */

.svg {
  display: block;
  position: relative;
  width: auto;
}

.svg svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.box {}

.box-one {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 275px;
}

.box-one .box-content {
  display: block;
  position: relative;
  padding: 20px;
  background-color: #e79f2c;
}

.box-one .box-content::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -20px;
  width: 3px;
  height: 100%;
  background-color: transparent;
  border-image: url('../img/box_one_border.png') 1% 50 0 round;
  border-right: 14px solid transparent; 
}

.box-one .box-content p {
  margin: 0;
  line-height: 24px;
  color: #fff;
  font-family: 'Vollkorn', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.section-one .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
  margin-bottom: 15px;
}

.section-one .row-text {
  color: #5d5d5d;
  font-weight: 300;
  margin-bottom: 15px;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .box-one {
    width: 325px;
  }

  .box-one .box-content {
    padding: 25px;
  }

  .box-one .box-content p {
    line-height: 30px;
    font-size: 30px;
  }
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-one {}

  .section-one .row {
    flex-flow: row nowrap;
  }

  .section-one .row-titles {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    margin: 0;
  }

  .section-one .row-title {
    max-width: 150px;
    margin-right: 50px;
    line-height: 42px;
    color: #4c354a;
    font-family: 'Vollkorn', sans-serif;
    font-size: 42px;
    text-align: left;
  }

  .section-one .row-text {
    max-width: 250px;
    width: auto;
    margin-right: 100px;
    color: #5d5d5d;
    font-weight: 300;
    text-align: left;
  }
}


.section-two .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-two {}

  .section-two .row-titles::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 35%;
    height: 1px;
    background-color: #4c354a;
  }

  .section-two .row-titles {
    position: relative;
    width: 1024px;
  }

  .section-two .row-titles::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 35%;
    height: 1px;
    background-color: #4c354a;
  }

  .section-two .row-title {
    font-size: 32px;
  }
}

.featured-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #372240;
}

.featured-one {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
}

.featured-one:nth-child(odd) {
  background-color: #422a4d;
}

.featured-one .featured-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-color: rgba(44, 21, 54, 0.8);
  background-blend-mode: overlay;
  filter: contrast(1.1);
  transition: opacity 160ms ease;
}

.featured-one:hover .featured-background {
  opacity: 1;
}

.featured-one .icon::before {
  content: '';
  display: block;
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 75px;  
  background-color: #fff;
  transition: opacity 400ms ease-in;
}

.featured-one:hover .icon::before {
  opacity: 0;
}

.featured-one .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.featured-one .featured-title {
  position: relative;
  margin: 0 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 600;
}

.featured-one .featured-subtitle {
  position: relative;
  margin: 0 10px;
  color: #fff;
  font-weight: 300;
}


/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .featured-container {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .featured-one {
    width: 255px;
    height: 350px;
  }
}

.section-three .row-title {
  color: #4c354a;
  font-family: 'Vollkorn', sans-serif;
  text-align: left;
}

.section-three .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-three .row-titles {
    width: 100%;
  }

  .section-three .row-title {
    font-size: 32px;
  }

  .section-three .content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.component-news {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  margin-bottom: 50px;
}

.component-news .news-picture {
  display: block;
  position: relative;
  width: 100%;
  height: 175px;
  background-size: cover;
}

.component-news .news-title {
  margin: 12px 0;
  color: #302a32;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.component-news .news-description {
  margin: 0;
  color: #302a32;
  font-size: 14px;
}

.component-news .btn {
  position: relative;
  margin-top: 15px;
  color: #302a32;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.component-news .btn::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #e29f3a;
}

.component-news .btn:hover {
  text-decoration: none;
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .component-news {
    margin-bottom: 0;
  }
}













/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}






/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
