
.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0 auto 0 auto;
  background-color: #fff;
  border-top: 10px solid #372340;
  font-family: 'Vollkorn', sans-serif;
  z-index: 700;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: static;
  height: 100%;
}

.navbar-left {
  margin-left: 15px;
}

.navbar-center {
  position: absolute;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-right {
  margin-right: 15px;
}

.navbar .navbar-logo {
  display: block;
  position: relative;
  width: auto;
  height: 75px;
}

.navbar .navbar-logo img,
.navbar .navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar .navbar-menu {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0;
  opacity: 0;
  background-color: #fff;
  transform: translateY(60px);
  transition: all 140ms ease-out;
}

.navbar .navbar-menu.active {
  display: flex;
  opacity: 1;
  transform: translateY(100px);
}

.navbar-menu ul {
  flex-flow: column nowrap;
}

.navbar-menu li {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-menu a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 15px 20px;
  width: calc(100% - 40px);
  height: auto;
  color: #5d5d5d;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
}

.navbar-menu .icon {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.navbar-menu .icon svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto
}

.navbar-menu .icon svg * {
  fill: #fff;
}
/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .navbar .navbar-menu::before {
    height: 30px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navbar .hamburger {
    display: none;
  }

  .navbar .navbar-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: initial;
    right: initial;
    padding: 0;
    width: auto;
    height: 100%;
    opacity: 1;
    transform: none;
  }

  .navbar .navbar-menu.active {
    transform: translateY(0);
  }

  .navbar-menu li {
    display: block;
    position: relative;
    width: auto;
    height: 100%;
  }

  .navbar-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 15px;
    width: auto;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 120ms ease-in;
  }

  .navbar-menu a:hover {
    color: #464646;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    width: 1024px;
  }
}
