.section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.section-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}

  .row.small-pad {
    padding: 25px 10px;
  }

  .row.no-pad {
    padding: 0;
  }

    .row.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .row.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

    .row.small-pad.no-pad.tb {
      padding: 25px 10px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .row.small-pad.no-pad.lr {
      padding: 25px 10px;
      padding-left: 0;
      padding-right: 0;
    }

  .row.no-pad.bottom {
    padding-bottom: 0;
  }

  .row.small-pad.no-pad.bottom {
    padding-bottom: 0;
  }

.row-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.row-title {
  margin: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: #464646;
}

.row-subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 21px;
  text-align: center;
  color: #646464;
}

.row-text {
  margin: 0 auto;
  margin-bottom: 0;
  font-size: 15px;
  text-align: center;
  color: #464646;
}

  .row-text:last-child {
    margin-bottom: 0px;
  }

  .row-text p:last-child {
    margin-bottom: 0px;
  }


/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .row {
    max-width: 748px;
    padding: 100px 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.small-pad {
    padding: 50px 20px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 32px;
  }

  .row-text {
    width: 590px;
    font-size: 18px;
  }
}

/* DEFAULT (>1023px) */
@media only screen and (min-width: 1023px) {
  .section-wrapper {
    width: 1024px;
  }

  .row {
    max-width: 100%;
  }

  .row-titles {
    width: 800px;
  }

  .row-text {
    width: 590px;
  }
}

