body {
  background-color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

/* SVG - Início
/* ******************************************** */

.svg {
  display: block;
  position: relative;
  width: auto;
  height: auto;
}

.svg svg {
  display: block;
  width: auto;
  height: 100%;
}

/* SVG - Fim
/* ******************************************** */

/* Page - Início
/* ******************************************** */

.page {
  min-height: 100vh;
}

.page.center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.page-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.page-title {
  margin: 20px 0;
  color: #464646;
  font-size: 32px;
  font-weight: 300;
}

/* Page - Fim
/* ******************************************** */


/* Login - Início
/* ******************************************** */

.page-login {
  background-color: #fff;
}

.page-login .wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.page-login .logo {
  display: block;
  position: relative;
  padding: 75px 25px;
  max-width: 300px;
  width: auto;
  height: 100px;
}

.page-login .logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.page-login .input {
  width: 400px;
}

.page-login input {
  width: 100%;
}

.page-login input:-webkit-autofill {
  color: #fff;
  background: transparent;
  border-bottom: 2px solid #FFDE03;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.page-login .action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: auto;
}

.page-login .action .forgot {
  color: #000;
  font-size: 14px;
}

.page-login .action .forgot:focus,
.page-login .action .forgot:hover {
  text-decoration: underline;
  outline: none;
}

.page-login .action .submit {
  color: #000;
  font-size: 14px;
}

/* Login - Fim
/* ******************************************** */


/* Page Primary - Início
/* ******************************************** */

.page-primary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.page-primary .page-header {
  padding: 10px 0;
}

/* Page Primary - Fim
/* ******************************************** */


/* Page Widget - Início
/* ******************************************** */

.page-widget {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 0 15px 0;
  background-color: #fff;
}

.page-widget-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.page-widget-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.page-widget-header .left,
.page-widget-header .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
}

.page-widget-header .left {
  justify-content: flex-start;
}

.page-widget-header .right {
  justify-content: flex-end;
}

.page-widget-header .left.with-button .primary-content-title {
  margin-right: 20px;
}

.page-widget-header .left.with-button .primary-content-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
}

.page-widget-header .btn {
  padding: 2px 5px;
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.page-widget-header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px;
  width: calc(100% - 30px);
  height: auto;
}

.page-widget-header-row:nth-child(1) {}

.page-widget-header-row.no-pad {
  padding: 0;
  width: 100%;
}

.page-widget-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.page-widget-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.page-widget-content .left,
.page-widget-content .right {
  position: relative;
}

.page-widget-content .left {
  padding-left: 15px;
}

.page-widget-content .right {
  padding-right: 15px;
}

.page-widget-content.nopad .left,
.page-widget-content.nopad .right {
  padding: 0;
}

.page-widget-content .left.nopad,
.page-widget-content .right.nopad {
  padding: 0;
}

.page-widget-content .full {
  padding: 0 15px;
  width: calc(100% - 30px);
}

.page-widget .inputs {
  width: 100%;
}

.page-widgets {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Page Widget - Fim
/* ******************************************** */

/* Custom Page Adjustments - Início
/* ******************************************** */

.control-page .widget-alpha {
  margin-top: 50px;
}

/* Custom Page Adjustments - Fim
/* ******************************************** */





