.dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 1%;
  background-color: #797979;
  opacity: 1;
  z-index: 1;
  transform: translateX(-3px);
  transition: all 160ms ease;
}

.dropdown {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  background-color: #fff;
  overflow: hidden;
}

.dropdown.open::before {
  height: 100%;
  transform: translateX(0);
  opacity: 1;
}

.dropdown-header {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
}

.dropdown.open .dropdown-header {}

.dropdown-header:hover {
  background-color: #F4F4F4;
}

.dropdown-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #D2D1D1;
}

.dropdown.open .dropdown-header::after {
  display: none;
}

.dropdown-header .left,
.dropdown-header .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
}

.dropdown-header > .left {
  justify-content: flex-start;
  margin-left: 30px;
}

.dropdown-header > .right {
  justify-content: flex-end;
  margin-right: 30px;
}

.dropdown-header .btn {
  padding: 2px 5px;
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.dropdown-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}

.dropdown.open .dropdown-title {}

.dropdown-arrow {
  height: 6px;
  transition: transform 160ms ease;
}

.dropdown-arrow.arrow-up {
  transform: rotateZ(180deg);
}

.dropdown-content {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.dropdown-content::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #D2D1D1;
}

.dropdown.open .dropdown-content {
  display: flex;
}

.dropdown-content > .left,
.dropdown-content > .right {
  position: relative;
}

.dropdown-content > .left {
  padding-left: 30px;
}

.dropdown-content > .right {
  padding-right: 30px;
}

.dropdown-content.nopad {
  padding: 0;
}

.dropdown-content.nopad > .left,
.dropdown-content.nopad > .right {
  padding: 0;
}

.dropdown-content > .left.nopad,
.dropdown-content > .right.nopad {
  padding: 0;
}

.dropdown-content .full {
  padding: 0 15px;
  width: calc(100% - 30px);
}

