
/* Header - Início
/* ******************************************** */

:global .header::before {
  content: '';
  display: none;
  position: absolute;
  top: -15px;
  left: -20px;
  width: 125px;
  height: 200px;
  background-color: rgba(0, 0, 0, 1.0);
  transform: rotate(12deg);
}

:global .header {
  position: relative;
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
}


/* Header - Fim
/* ******************************************** */