.widget-fields-alpha .widget-list-header {
  padding: 0 30px 8px 30px;
  width: calc(100% - 60px);
}

.widget-fields-alpha .widget-header {
  padding: 0 15px;
  width: calc(100% - 30px);
}

.widget-fields-alpha .widget-list-items .new-item {
  padding: 0 15px;
  width: calc(100% - 30px);
}

.widget-fields-alpha .widget-list-items .item {
  padding: 0 30px;
  width: calc(100% - 60px);
}